<section id="contact" class="mb-8 card">
  <h2 class="text-2xl font-semibold mb-6">Contacte</h2>
  <p class="text-lg text-gray-700 mb-3"><strong>Telèfon:</strong> <a href="tel:+34 977 26 77 84" class="text-[#1B5E20] hover:underline">+34 977 267 784</a></p>
  <p class="text-lg text-gray-700 mb-3"><strong>Correu:</strong> <a href="mailto:info@campingametlla.cat" class="text-[#1B5E20] hover:underline">info@campingametlla.cat</a></p>
  <p class="text-lg text-gray-700"><strong>Horari:</strong> <a href="mailto:info@campingametlla.cat" class="text-[#1B5E20] hover:underline">Obert</a></p>
</section>